/* Allgemeine Styles für den Body */

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    padding: 20px;
    margin: 0;
    color: #333333;
}

.small-text-red {
    font-size: 12px;
    color: #FF0000;
    margin: 0px;
}

.small-text-foreword {
    font-size: 12px;
    color: #000;
    margin: 0px;
}

.small-text {
    font-size: 12px;
    color: #000;
    margin: 0px;
}

#total, #BI_total {
    /* Fomatierung der Gesamt-Versicherungsumme */
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    /* Schrift fett machen */
    text-align: left;
    margin-top: 10px;
    /* Abstand nach oben hinzufügen */
}

/* Formatierung des h1 tags */
h1 {
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    white-space: pre-wrap;
    /* Erhält Leerzeichen und bricht Zeilen bei Bedarf */
    font-style: normal;
    color: #113388;
    /* Schriftfarbe dunkelblau */
    text-align: center;
}

h2 {
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    white-space: pre-wrap;
    /* Erhält Leerzeichen und bricht Zeilen bei Bedarf */
    color: #000;
    text-align: left;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 25px;
}

/* graue Schriftfarbe */
.black-text {
    color: #000;
    /* Dunkelgrau */
;
}

/* Link Styling */
a {
    display: inline-block;
    color: #0071e3;
    padding: 0px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Formatierung des Containers der Icons ganz oben */
.icons-container {
    max-width: 600px;
    /* Begrenzt die maximale Breite des Formulars auf 600 Pixel */
    margin: 0 auto;
    /* Zentriert den Container horizontal in der Mitte des Containers */
    display: flex;
    /* Flexbox aktivieren */
    justify-content: flex-end;
    /* Elemente nach rechts ausrichten */
    text-align: unset;
    /* Verhindert, dass text-align den Flex-Layout beeinflusst */
}

/* Formatierung des Formulars */
form {
    background-color: white;
    /* Setzt die Hintergrundfarbe des Formulars auf weiß */
    padding: 20px;
    /* Fügt einen Innenabstand von 20 Pixeln um den Inhalt hinzu */
    /* border-radius: 12px; /* Rundet die Ecken des Formulars mit einem Radius von 12 Pixeln */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* Optionaler Schatteneffekt, der hier auskommentiert ist */
    max-width: 600px;
    /* Begrenzt die maximale Breite des Formulars auf 600 Pixel */
    margin: 0 auto;
    /* Zentriert das Formular horizontal in der Mitte des Containers */
}

/* Input-Feld Text Styling */
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

input[type="text"]:hover, input[type="email"]:hover {
    border-color: #0071e3;
    /* Ändert die Rahmenfarbe */
    background-color: #EEF5F6;
    /* Ändert den Hintergrund */
}


input:focus, textarea:focus {
    border-color: #0071e3;
    /* Fokus-Border */
    box-shadow: none;
    /* Optional: Box-Schatten entfernen, wenn gewünscht */
}

select:focus {
    border-color: #0071e3;
    /* Fokus-Border */
    outline: auto;
    /* Hingegen "none" entfernt den Standard-Fokus-Rahmen und somit den Fehler bei Safari bei Toggle-Bereichen */
    box-shadow: none;
    /* Optional: Box-Schatten entfernen, wenn gewünscht */
}

/* Flexbox nur für Input-Feld zahlen damit diese linksbündig ausgerichtet werden */
.form-container {
    display: flex;
    /* Flexbox aktivieren */
    flex-direction: column;
    /* Elemente untereinander anordnen */
}

/* Input-Feld Zahlen Styling */
input[type="number"] {
    width: 50%;
    padding: 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    text-align: left;
    float: left;
}

input[type="number"]:hover {
    border-color: #0071e3;
    /* Ändert die Rahmenfarbe */
    background-color: #EEF5F6;
    /* Ändert den Hintergrund */
}

select {
    width: 100%;
    /* Das Dropdown erstreckt sich über die volle Breite des Containers */
    padding: 15px;
    /* Innenabstand innerhalb des Dropdowns */
    margin: 8px 0;
    /* Abstand oben und unten */
    box-sizing: border-box;
    /* Padding und Border werden in die Breite mit eingerechnet */
    border: 1px solid #ccc;
    /* Grauer Rand um das Dropdown */
    border-radius: 8px;
    /* Runde Ecken mit einem Radius von 12px */
    height: 50px;
    /* Höhe des Dropdowns */
    text-align: left;
    /* Text wird linksbündig ausgerichtet */
    font-family: Arial, sans-serif;
    font-size: 15px;
    white-space: normal;
    /* Textumbruch für lange Optionen im Dropdown aktiviert */
}

select:hover {
    border-color: #0071e3;
    /* Ändert die Rahmenfarbe */
}

.custom-dropdown {
    /* Wenn mehrzeilige Dropdowns notwendig sind */
    width: 100%;
    /* Das Dropdown erstreckt sich über die volle Breite des Containers */
    padding: 15px;
    /* Innenabstand innerhalb des Dropdowns */
    margin: 8px 0;
    /* Abstand oben und unten */
    box-sizing: border-box;
    /* Padding und Border werden in die Breite mit eingerechnet */
    border: 1px solid #ccc;
    /* Grauer Rand um das Dropdown */
    border-radius: 8px;
    /* Runde Ecken mit einem Radius von 4px */
    height: 75px;
    /* Höhe des Dropdowns */
    text-align: left;
    /* Text wird linksbündig ausgerichtet */
    font-family: Arial, sans-serif;
    /* Schriftart Arial oder eine ähnliche sans-serif Schriftart */
    font-size: 15px;
    /* Schriftgröße 16px */
    white-space: normal;
    /* Textumbruch für lange Optionen im Dropdown aktiviert */
}

.custom-dropdown:hover {
    border-color: #0071e3;
    /* Ändert die Rahmenfarbe */
    background-color: #EEF5F6;
    /* Ändert den Hintergrund */
}

/* Formatierung des Submit-Buttons */
input[type="submit"] {
    background-color: #0071e3;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    /* zentrieren */
    margin-bottom: 3px;
    font-size: 16px;
}

input[type="date"] {
    padding: 8px;
    font-size: 15px;
    width: 50%;
    text-align: left;
    float: left;
}

input[type="date"]:hover {
    border-color: #0071e3;
    /* Ändert die Rahmenfarbe */
}

/* Formatierung des Haupt-Logos */
img {
    width: 250px;
    height: auto;
    display: block;
    margin: 50px auto 0 auto;
}

.label-classic {
    text-align: left; /* Text linksbündig ausrichten */
}

.label-classic-twolined { /* für zweizeilige Titel */
    text-align: left; /* Text linksbündig ausrichten */
    line-height: 1.5; /* Vergrößert den Zeilenabstand */
    margin-bottom: -7px;
}

.label-classic_v2 { /* z.B. für Abschnitt Ertragsausfallversicherung */
    text-align: left; /* Text linksbündig ausrichten */
    margin-bottom: 12px;
    display: block; /* Erzwingt Block-Level-Verhalten (dadurch wird margin-bottom erst wirksam) */
}

.label-classic-bi-button {
    text-align: left; /* Text linksbündig ausrichten */
    margin-bottom: 10px; /* Abstand unter den Labels */
    display: block;  /* Label als Block-Element, damit der Abstand zum nächsten Element funktioniert */
}

/* Richtet die Radiobuttons in der Container-Klasse linksbündig aus */
.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Abstand zwischen den Radio-Buttons */
}

.radio-item {
    display: flex;
    align-items: center;
    /* Vertikal zentrieren */
}

.center {
    text-align: center;
}

.relation_to_plant_style {
    background-color: #F5F5F7;
    /* Hintergrundfarbe grau */
    padding: 15px;
    /* Innenabstand */
    border-radius: 4px;
    /* Runde Ecken */
    margin: 10px 0;
    /* Abstand oben und unten */
    text-align: left;
    /* Text linksbündig */
    color: #000;
}

.grey_bg_toggle {
    background-color: #F5F5F7; /* Hintergrundfarbe grau */
    padding: 15px; /* Innenabstand */
    border-radius: 4px; /* Runde Ecken */
    margin: 10px 0; /* Abstand oben und unten */
    text-align: left; /* Text linksbündig */
    color: #000;
}

.subsection {
    background-color: #cfe9ee7c;
    /* Hintergrundfarbe blau pastell */
    padding: 15px;
    /* Innenabstand */
    border-radius: 4px;
    /* Runde Ecken */
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    /* Text linksbündig */
    color: #000;
}

.subsection-save {
    background-color: #cfe9ee7c;
    padding: 15px;
    /* Innenabstand */
    border-radius: 4px;
    /* Runde Ecken */
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    /* Text zentriert */
    color: #000;
    font-size: 14px;
}

.save-btn {
    background-color: #0071e3;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    margin: 10px auto;
    /* Zentrierung der Buttons */
    margin-bottom: 2px;
    /* Abstand zwischen Unterseite Button und Container */
    font-size: 14px;
}

.box_foreword {
    background-color: #cfe9ee7c;
    /* Hintergrundfarbe Pastellblau */
    padding: 5px;
    /* Innenabstand */
    border-radius: 4px;
    /* Runde Ecken */
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: left;
    /* Text linksbündig */
}

.box_headline {
    background-color: #cfe9ee7c;
    /* Hintergrundfarbe Pastellblau */
    padding: 15px;
    /* Optional: fügt etwas Innenabstand hinzu */
    border-radius: 4px;
    /* Optional: abgerundete Ecken */
    margin: 10px 0;
    /* Optional: fügt einen Abstand nach oben und unten hinzu */
}

/* Styling für die blaue Linie */
.blue-line {
    border: none;
    /* Standardrahmen des <hr> entfernen */
    border-top: 3px solid #13A0D3;
    /* Eine blaue, 3px dicke Linie  hinzufügen */
    width: 100%;
    /* Linie auf die volle Breite setzen */
    margin: 10px 0;
    /* Abstand oben und unten */
}

.error {
    border: 2px solid red;
    /* Roter Rahmen für fehlerhafte Felder */
}

/* TOGGLE bzw. VERSTECKEN */

/* Versteckt die Radio-Buttons */
input[type="radio"] {
    display: none;
    margin-bottom: 5px;
    /* Abstand zwischen den Buttons */
}

/* Styling für die Labels */
.toggle-label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: #333333;
    margin-bottom: 5px;
    margin-right: 5px;

}

/* Styling für den aktiven Zustand */
input[type="radio"]:checked+.toggle-label {
    background-color: #0071e3;
    border: 1px solid #0071e3;
    color: white;
}

#nein:checked+.toggle-label {
    background-color: #0071e3;
}

/* 1. Antragsteller/in im Verhältnis zur Anlage */

/* Inhalte anzeigen/verstecken */
.toggle-content-applicant {
    display: none;
    margin-top: 10px;
}

/* Inhalt basierend auf "Betreiber einer fremden Anlage" anzeigen */
#option2:checked~.content-operator-foreign-plant {
    /* muss mit ID übereinstimmen */
    display: block;
}

/* Inhalt basierend auf "Nur Eigentümer" anzeigen */
#option3:checked~.content-owner-only {
    /* muss mit ID übereinstimmen */
    display: block;
}

/* VO ADRESSE ODER KOORDINATEN */

/* Inhalte anzeigen/verstecken */
.toggle-content-address-coordinates {
    display: none;
    margin-top: 10px;
}

/* Inhalt basierend auf "Adresse" anzeigen */
#option1_address:checked~.content-address {
    /* muss mit ID übereinstimmen */
    display: block;
}

/* Inhalt basierend auf "Koordinaten" anzeigen */
#option2_coordinates:checked~.content-coordinates {
    /* muss mit ID übereinstimmen */
    display: block;
}

/* VO LAND */

/* Inhalte anzeigen/verstecken (VO LAND) */
.toggle-content-insured-land {
    display: none;
    margin-top: 10px;
}

/* Inhalt basierend auf "Ja" anzeigen */
#option2_insured_land:checked~.toggle-content-insured-land {
    /* muss mit ID übereinstimmen */
    display: block;
}

/* BU STROM-VERKAUF */

/* Inhalte anzeigen/verstecken (BU Strom-Verkauf) */
.toggle-content-bi-sale {
    display: none;
    margin-top: 10px;
}

/* Inhalt basierend auf "Ja" anzeigen */
#yes-sale:checked~.toggle-content-bi-sale {
    /* muss mit ID übereinstimmen */
    display: block;
}


/* BU EIGENVERBRAUCH */

/* Inhalte anzeigen/verstecken (BU Eigenverbrauch) */
.toggle-content-bi-self {
    display: none;
    margin-top: 10px;
}

/* Inhalt basierend auf "Ja" anzeigen */
#yes-self:checked~.toggle-content-bi-self {
    /* muss mit ID übereinstimmen */
    display: block;
}

/* Link um den Button */
.login-link {
    display: inline-block;
    /* Link wird nicht blocklevel und vergrößert sich nicht */
}

/* Grundstil für den Login-Button */
.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cfe9ee7c;
    /* Hintergrundfarbe */
    color: #0071e3;
    /* Schriftfarbe */
    padding: 8px 8px;
    /* Kleine Polsterung */
    border: none;
    /* Kein Rand */
    border-radius: 8px;
    /* Abgerundete Ecken */
    font-size: 14px;
    /* Kleine Schriftgröße */
    cursor: pointer;
    /* Zeigt den Pointer-Cursor an */
}

/* Icon-Styling */
.login-btn i {
    font-size: 16px;
    /* Größe des Icons */
}

/* Hover-Effekt */
.login-btn:hover {
    color: #FFF;
    /* Schriftfarbe */
    background-color: #0071e3;
    /* Etwas dunklerer Grünton */
}

/* Der Hauptcontainer für das Pop-up, der den gesamten Bildschirm abdeckt.
   Es hat einen halbtransparenten Hintergrund, um den Fokus auf den Inhalt zu legen. */
.showPass {
    height: 100vh; /* Die Höhe nimmt den gesamten Viewport ein */
    background-color: rgba(0, 0, 0, 0.224); /* Ein halbtransparenter schwarzer Hintergrund */
    position: fixed; /* Fixiert die Position relativ zum Viewport */
    top: 0; /* Beginnt oben im Viewport */
    left: 0; /* Beginnt links im Viewport */
    width: 100%; /* Deckt die gesamte Breite des Viewports ab */
    opacity: 1; /* Vollständig sichtbar */
    transition: 0.5s; /* Sanfter Übergang für Sichtbarkeitsänderungen */
    z-index: 10000000; /* Sehr hoher Stapelwert, um sicherzustellen, dass es über anderen Elementen liegt */
}

/* Styling für den Zustand, in dem das Pop-up versteckt wird */
.showPass.hidePass {
    opacity: 0; /* Macht das Pop-up unsichtbar */
    z-index: -1; /* Bringt es hinter andere Elemente */
}

/* Der unsichtbare Overlay-Hintergrund, der Klicks abfangen kann,
   wenn das Pop-up geöffnet ist. */
.showPass .closeModel {
    height: 100vh; /* Gleiche Höhe wie das übergeordnete .showPass */
    background-color: rgba(0, 0, 0, 0.224); /* Halbtransparenter schwarzer Hintergrund */
    position: absolute; /* Absolute Positionierung innerhalb von .showPass */
    top: 0; /* Beginnt oben im Container */
    left: 0; /* Beginnt links im Container */
    width: 100%; /* Deckt die gesamte Breite ab */
    z-index: 1; /* Liegt unterhalb des Inhalts, aber über anderen Seitenelementen */
}

/* Der Container für den tatsächlichen Inhalt des Pop-ups */
.showPass .content {
    position: absolute; /* Absolute Positionierung innerhalb von .showPass */
    top: 50%; /* Zentriert vertikal */
    left: 50%; /* Zentriert horizontal */
    transform: translate(-50%, -50%); /* Verschiebt das Element um die Hälfte seiner Breite und Höhe, um es perfekt zu zentrieren */
    background-color: #ffffff; /* Weißer Hintergrund für den Inhalt */
    max-width: 500px; /* Maximale Breite des Containers */
    width: 93%; /* Breite in Relation zum Viewport (vermeidet, dass es zu breit wird) */
    padding: 20px 15px; /* Innenabstand um den Inhalt */
    border-radius: 12px; /* Abgerundete Ecken */
    z-index: 2; /* Liegt über dem Overlay-Hintergrund */
}

/* Zentriert den inneren Inhalt */
.showPass .content div {
    width: fit-content; /* Passt die Breite an den Inhalt an */
    margin: auto; /* Zentriert das Element horizontal */
}

/* Styling für die Überschrift im Pop-up */
.showPass .content div h1 {
    text-align: center !important; /* Zentriert den Text */
    font-size: 20px; /* Schriftgröße der Überschrift */
}

/* Styling für die Absätze im Pop-up */
.showPass .content div p {
    margin: 25px 0px !important; /* Abstand oberhalb und unterhalb der Absätze */
    font-size: 16px; /* Schriftgröße für den Text */
}

/* Styling für den Button im Pop-up */
.showPass .content div button {
    background-color: #0071e3;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    /* zentrieren */
    margin-bottom: 3px;
    font-size: 16px;
}

